:root {
    --highlight: #167b2a;
    --highlight-dark: #126422;
}

body {
    font-family: arial;
    margin: 0;
}

.main {
    justify-content: space-evenly;
    margin-top: 10vh;
    display: flex;
}

.btn, .redbtn {
    box-shadow: 0 .1em .2em rgba(0, 0, 0, 0.7);
    background: var(--highlight);
    border-radius: .3em;
    text-align: center;
    user-select: none;
    padding: .5em 1em;
    cursor: pointer;
    color: white;
    margin: 1em;
}

.redbtn {
    background: rgb(206, 0, 0);
}

.btn:hover {
    background: var(--highlight-dark);
}

.redbtn:hover {
    background: rgb(177, 0, 0);
}

/* styling both columns */

.sectionTitle {
    border-bottom: 1px solid #DDD;
}

/* Semester styles */

.availableSemesters {
    width: 30vw;
    overflow-y: scroll;
    max-height: 65vh;
}

.semester {
  border-bottom: 1px solid #999;  
}

.semester.disabled {
    pointer-events: none;
}

.availableCourses {
    overflow-y: scroll;
    max-height: 50vh;
    width: 30vw;
}

.course:nth-child(even) {
    background: #EFEFEF;
}

.coursesPlaceHolder {
    justify-content: center;
    align-items: center;
    display: flex;
}

.coursesPlaceHolder p {
    text-align: center;
    color: #555;
}

.coursesInformation {
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1em;
    display: flex;
    color: #444;
}

/* Course form */

.courseFormSection {
    justify-content: space-evenly;
    display: flex;
}

.formItem {
    margin: 0 5em;
    width: 100%;
}

.newCourseForm {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    padding: 1em;
}

.newCourseFormTitle {
    margin: 0 0 0 .3em;
    user-select: none;
    cursor: pointer;
    font-size: 2em;
}

.newCourseFormContent {
    margin-top: 1em;
}

.newCourseForm input {
    all: unset;

    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
}

.newCourseForm input:focus {
    border-bottom: 1px solid #126422;
}

.courseSearchYear, .courseSearchTerm {
    font-size: inherit;
    width: 100%;
}

.addCourse, .searchCourse {
    margin-bottom: 1.5em;
    margin-top: 3em;
}

.loadCourses {
    display: block;
}

#loadCoursesFileBtn {
    display: none;
}

/* Course search results popup */

.courseSearchResultsBackdrop {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    transition: .4s;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.courseSearchResultsBackdrop.hidden {
    pointer-events: none;
    opacity: 0;
}

.courseSearchResults {
    transform: translate(-50%, -50%);
    background: white;
    position: absolute;
    padding: 2.5em 5em;
    left: 50%;
    top: 50%;
}

.exitCourseSearchResultsBtn {
    position: relative;
    left: -3em;
}

.courseSearchResultsTitle {
    font-weight: normal;
    margin: 1em 0 1em 0;
    font-size: 2.5em;
}

.exitCourseSearchResultsBtn>div {
    position: absolute;
    background: black;
    border-radius: 1em;
    cursor: pointer;
    height: .27em;
    width: 2em;
    left: 0;
    top: 0;
}

.exitCourseSearchResultsBtn>div:first-child {
    transform: rotate(45deg);
}

.exitCourseSearchResultsBtn>div:last-child {
    transform: rotate(-45deg);
}

.courseSearchResultsList {
    margin: 0 0 3em 0;
    overflow-y: scroll;
    font-size: 1.2em;
    max-height: 50vh;
}

.courseSearchResultsListItem {
    justify-content: space-between;
    width: min(80vw, 900px);
    white-space: pre;
    cursor: pointer;
    display: flex;
    padding: 1em;
}

.courseSearchResultsListItem:nth-child(odd) {
    background: #EFEFEF;
}

.courseSearchResultsListItem:hover {
    background: #CFCFCF;
}

/* Course styles */

.courseWrapper {
    justify-content: space-evenly;
    border-top: 1px solid #777;
    display: flex;
    padding: 2px;
}

.courseWrapper:hover + .courseWrapper {
    border-top: none; 
}

.courseWrapper:first-child {
    border-top: none;
}

.courseWrapper {
    cursor: grabbing;
}

/* the paddinf being changed to 1px for hovered elements and to 0.5px for hovered elements at the
start or end of the list is done to prevent the resizing of the elements due to the thicker border */
.courseWrapper:hover  {
    border: 2px dashed black;
    padding: 1px;
}

.courseWrapper:hover:first-child, .courseWrapper:hover:last-child  {
    padding: 0.5px;
}

.courseWrapper div {
    padding: 1em;
    width: 100%;
}

.courseCode, .courseCredits {
    background: #EFEFEF;
}

.crossed {
    text-decoration: line-through;
    cursor: not-allowed;
}