:root {
    --highlight: #0f9657;
    --highlight-dark: #0b7343;
}

body {
    background: #0A1930;
    font-family: arial;
    color: white;
    margin: 0;
}

.main {
    justify-content: space-evenly;
    margin-top: 10vh;
    display: flex;
}

/* nav bar */

.navBar {
    justify-content: center;
    align-items: center;
    position: absolute;
    user-select: none;
    color: #172A46;
    display: flex;
    width: 100vw;
    height: 7em;
    left: 0;
    top: 0;
}

.btn, .redbtn {
    background: var(--highlight);
    border-radius: .3em;
    text-align: center;
    user-select: none;
    padding: .5em 1em;
    cursor: pointer;
    color: white;
    margin: 1em;
}

.redbtn {
    background: #e83a46;
}

.btn:hover {
    background: var(--highlight-dark);
}

.redbtn:hover {
    background: #e32734;
}

/* styling both columns */

.sectionTitle {
    border-bottom: 1px solid #DDD;
}

/* Semester styles */

.availableSemesters {
    border-radius: .75em;
    overflow-y: scroll;
    max-height: 65vh;
    width: 30vw;
}

.semester {
    border-radius: .75em;
    background: #172A46;
    margin: 1em 0;
    padding: 1em 1em .2em 1em;
}

.summer {
    background: transparent;
    outline: .25em dashed #172A46;
    outline-offset: -.25em;
}

.removeSummer {
    background: transparent;
    outline: .12em dashed #e84550;
}

.removeSummer:hover {
    background: transparent;
    color: #e84550;
}

.availableCoursesWrapper {
    overflow-y: scroll;
    max-height: 50vh;
    width: 30vw;
}

.availableCourses {
    margin-top: 1em;
}

.course:nth-child(even) {
    background: #EFEFEF;
}

.coursesPlaceHolder {
    justify-content: center;
    align-items: center;
    display: flex;
}

.coursesPlaceHolder p {
    text-align: center;
    color: #CCC;
}

.totalCredits {
    margin-top: .5em;
}

.coursesInformation {
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1em;
    display: flex;
    color: #CCC;
}

.addSummerBtn {
    border-radius: .75em;
    text-align: center;
    user-select: none;
    transition: .2s;
    cursor: pointer;
    color: #CCC;

}

.addSummerBtn:hover {
    color: var(--highlight);
}

.addSummerBtn::before, .addSummerBtn::after {
    background: currentColor;
    margin: 0 1em .25em 1em;
    display: inline-block;
    height: 2px;
    content: "";
    width: 35%;
}

/* Course form */

.formsAndCourses {
    border-radius: .75em;
    overflow-y: scroll;
    max-height: 63vh;
}

.courseFormSection {
    justify-content: space-evenly;
    display: flex;
}

.formItem {
    margin: 0 5em;
    width: 100%;
}

.newCourseForm, .availableCoursesWrapper {
    border-radius: .75em;
    background: #172A46;
    margin-top: 1em;
    padding: 1em;
}

.newCourseFormTitle, .courseListTitle {
    margin: 0 0 0 .3em;
    user-select: none;
    cursor: pointer;
    font-size: 2em;
}

.courseSearchTerm, .courseSearchYear {
    border: 1px solid #CCC;
    background: transparent;
    color: white;
    padding: .2em;
}

.newCourseFormContent {
    margin-top: 1em;
}

.newCourseForm input {
    all: unset;
    border-bottom: 1px solid #CCC;
    display: block;
    width: 100%;
}

::placeholder {
    color: #AAA;
  }

.newCourseForm input:focus {
    border-bottom: 1px solid var(--highlight);
}

.courseSearchYear, .courseSearchTerm {
    font-size: inherit;
    width: 100%;
}

.addCourse, .searchCourse {
    margin-bottom: 1.5em;
    margin-top: 3em;
}

.saveFileSection {
    display: flex;
    margin: 1em;
    gap: 2em;
}

.saveFileSection .btn {
    width: 100%;
    margin: 0;
}

#loadSaveFileBtn {
    display: none;
}

/* Course search results popup */

.courseSearchResultsBackdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    transition: .4s;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.courseSearchResultsBackdrop.hidden {
    pointer-events: none;
    opacity: 0;
}

.courseSearchResults {
    transform: translate(-50%, -50%);
    background: #0A1930;
    border-radius: .75em;
    position: absolute;
    padding: 2.5em 5em;
    left: 50%;
    top: 50%;
}

.exitCourseSearchResultsBtn {
    position: relative;
    left: -3em;
}

.courseSearchResultsTitle {
    font-weight: normal;
    margin: 1em 0 1em 0;
    font-size: 2.5em;
}

.exitCourseSearchResultsBtn>div {
    position: absolute;
    background: white;
    border-radius: 1em;
    cursor: pointer;
    height: .27em;
    width: 2em;
    left: 0;
    top: 0;
}

.exitCourseSearchResultsBtn>div:first-child {
    transform: rotate(45deg);
}

.exitCourseSearchResultsBtn>div:last-child {
    transform: rotate(-45deg);
}

.courseSearchResultsList {
    border-radius: .75em;
    overflow-y: scroll;
    margin: 0 0 3em 0;
    font-size: 1.2em;
    max-height: 50vh;
}

.courseSearchResultsListItem {
    justify-content: space-between;
    width: min(80vw, 900px);
    white-space: pre;
    cursor: pointer;
    display: flex;
    padding: 1em;
}

.courseSearchResultsListItem:nth-child(odd) {
    background: #1B2A41;
}

.courseSearchResultsListItem:hover {
    background: #2C3B52;
}

/* Course styles */

.courseWrapper {
    justify-content: space-evenly;
    border: 2px solid #061935;
    border-radius: .75em;
    cursor: grabbing;
    overflow: hidden;
    margin: .25em 0;
    display: flex;
}

.courseWrapper div {
    align-items: center;
    display: flex;
    padding: 1em;
    width: 100%;
}

.courseCode {
    max-width: 10em;
}

.courseName {
    min-width: 15em;
}

.courseCode, .courseCredits {
    background: #061935;
}

.courseCredits {
    justify-content: center;
}

.crossed {
    cursor: not-allowed;
    opacity: .45;
}

/* course list items for summer the courses list */
.summer .courseCode, .summer .courseCredits {
    background: #172A46;
}

.summer .courseWrapper {
    border-color: #172A46;
}

.courseWrapper:hover  {
    border: 2px dashed #CCC;
    padding: 0;
}